#container {
    float: left;
    margin-left:8%;   
    width: 45%;
    height: 60%;
    overflow: hidden;
}
.sections .section {
    height: 100%;
}
#container .sections {
    position: relative;
}
/*游记*/
#exTab2 h3 {
    color: rgb(51, 122, 183);
    padding: 5px 15px;
}
.nav-tabs > li.active > a {
    color: white;
    cursor: default;
    background-color: #6CA8D1;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav-tabs > li.active > a:focus {
    background-color: transparent;
    border: 2px solid #6CA8D1;
    color: #6CA8D1;
}
.nav-tabs > li.active > a:hover {
    color: #6CA8D1;
}

#exTab1 .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}
.nav-tabs {
    border-bottom: none;
    padding-bottom: 10px;
}
.nav-tabs > li > a, .nav-tabs > li.active > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    background: rgb(108, 168, 209);
    padding: 11px;
    width: 240px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 19px;
    margin-bottom: 4px;
}

.button-info {
    padding: 6px;
    color: rgb(26, 104, 121);
    background: transparent;
    border-radius: 1px;
    margin-right: 11px;
    float: left;
    border: 2px solid rgb(108, 168, 209);
}

.featured-img {
    float: left;
    padding-right: 25px;
}
/* remove border radius for the tab */
#exTab1 .nav-pills > li > a {
    border-radius: 0;
}
/* change border radius for the tab , apply corners on top*/
#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0;
}

#exTab3 .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}
#top {
    width: 100%;
    height: 400px;
}
.nav-title span {
    font-weight:700;
}
.nav-title a span{
    float:right;
}
#travel {
    margin-left: 30px;
    margin-top: 30px;
    float: left;
    width: 50%;
    height: auto;
}
#center-right{
    float:right;
}
#album{
    width:95%;
}

.travel_de {
    color:white;
    width: 100%;
    height: 200px;
    border-bottom: 1px double #ffffff;
}
.travel_cover {
    width: 30%;
    height: 85%;
    overflow: hidden;
    text-align: center;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 10px;
    display: inline-block;
}
.travel_content {
    width: 60%;
    height: 82%;
    margin-top: 2%;
    margin-left: 3%;
    display: inline-block;
    vertical-align: top;
}
#contest {
    margin-top:30px;
}
#center {
   margin-top:50px;
}
/*相册*/
@media (max-width: 480px) {
    .bx-wrapper .testimonials-carousel-thumbnail img {
        padding-right: 15px;
    }
}
.avatar-team-member {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: auto;
    border-radius: 50%;
    display: block;
    margin-bottom: 1em;
}
.avatar-team-member img {
    width: 200px;
    height: auto;
}
#team{
    border-bottom: none;
}

#team .team .team-members {
    margin: 30px auto 0;
}

.team-members .member {
    margin: 15px auto;
    cursor: default;
    overflow: hidden;
}

.team-members .member .member-inner {
    position: relative;
}

.team-members .member a.team-image {
    display: block;
    width: 100%;
    height: auto;
    z-index: 2;
}
 .team-members .member a.team-image img {
    width: 100%;
}

.inner-details .member-details {
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    padding: 15px;
    bottom: 100%;
    margin: 0;
    z-index: 3;
    opacity: 0.9;
    background: #68ABBB;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.inner-details .member-details .member-details-inner {
    position: relative;
    top: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Team Names, Descriptions */

.team-members .member-details .member-name {
    color: white;
    margin-top: 0;
    padding-top: 0;
    font-size: 30px;
}

.team-members .member-details .member-position {
    color: #8BC3A3;
    font-size: 13px;
}

.team-members .member-details .member-description {
    color: #fff;
    font-size: 13px;
}

/* Team Socials */
.member .member-details .member-details-inner .socials {
    margin: 10px auto 0;
}
.member .member-details .member-details-inner .socials a {
    display: inline-block;
    color: white;
    font-size: 1.2em;
    line-height: 40px;
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,0.25);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 50%;
}
.list-unstyled li a i.fa {
    font-size: 22px;
    background: rgb(43, 112, 158);
    /*padding: 8px;*/
    color: white;
    /*width: 35px;*/
}

/* Team Rollover */

.team-members .member:hover .member-details {
    bottom: 0;
}
.member .member-details .member-details-inner .socials a:hover {
    background: rgba(0,0,0,1);
    border-radius: 50%;
}
@media (max-width:991px) {
    .bx-wrapper .bx-controls-direction a {
        position: static !important;
        background: #68ABBB;
        color: white;
        padding: 10px;
        text-decoration: none;
    }
}
/*骑行相册*/ 
.panel {
    background: none;
}
.panel-body {
    padding: 15px;
    background: white;
}
.hire{
    padding:5px;
    margin-top:15px;
    margin-left:4px;
    width:73%;
}
::-webkit-datetime-edit { padding: 1px; background: url(/study/image/selection.gif); }
::-webkit-datetime-edit-fields-wrapper { background-color: #eee; }
::-webkit-datetime-edit-text { color: #4D90FE; padding: 0 .3em; }
::-webkit-datetime-edit-year-field { color: black; }
::-webkit-datetime-edit-month-field { color: black; }
::-webkit-datetime-edit-day-field { color: black; }
::-webkit-inner-spin-button { visibility: hidden; }
::-webkit-calendar-picker-indicator {
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px #fff, 0 1px #eee;
    background-color: #eee;
    background-image: -webkit-linear-gradient(top, #f0f0f0, #e6e6e6);
    color: #666;
}
.blog-event:hover{
    box-shadow:0px 0px 20px 0px;
}